@model FarmPros.ApplicationLogic.ViewModels.FarmViewModels.FarmViewModel
@{
    ViewData["Title"] = "My Farms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 mb-5" style="height: 200px; background-color: lightgray;">
    <h1>@Model.Name</h1>
    <button class="btn btn-primary">Shop Now</button>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        Gallery
    </div>
    <div class="col-md-6">
        Who we are.
    </div>
</div>


<div class="row col-12 text-center">
    <div class="col-md-3 mr-3" style="height: 200px; background-color: lightgray;">

    </div>
    <div class="col-md-3 mr-3" style="height: 200px; background-color: lightgray;">

    </div>
    <div class="col-md-3 mr-3" style="height: 200px; background-color: lightgray;">

    </div>
</div>
<div class="col-12"><a href="#" class="float-right">View More</a></div>